<div class="card shadow-sm" id="top">
    <div class="text-container">
        <h1 class="heading">Build products</h1>
        <br>
        <h1 class="heading">that impact.</h1>
        <br>
        <p class="para">Alcove's portfolio of products are used<br><br>by thousands of users daily, join us in our<br><br>journey and make an impact!</p>
        <br>
        <a href="#more-information">
            <button class="button">Find out more</button>
        </a>
        <a target="_blank" href="https://www.google.com/maps/place/Alcove+Partners/@17.715951,83.32286,17z/data=!3m1!4b1!4m5!3m4!1s0x3a394368aec165b3:0xd5bafd7092437c8a!8m2!3d17.7159587!4d83.3250658" class="map-logo">
            <i class="bi bi-geo-alt-fill"></i>
        </a>
        <a href="#" class="map-logo">
            <i class="bi bi-envelope-fill"></i>
        </a>
    </div>
    <img src="assets/img/main content-img1.png" alt="content-logo" class="image1"/>
</div>

<div class="card card2 shadow-sm">
    <div class="text-container">
        <h1 class="heading2">InterviewBuddy</h1>
        <br>
        <p class="para2">
        InterviewBuddy is a premier video interviewing platform offering<br>
        one-on-one personalized practice interviews with<br>
        industry experts from companies like Google, Schneider<br>
        Electric, Facebook, Microsoft, Qualcomm, Adobe,<br>
        Samsung, Shell, Philips, Sony, HSBC, PwC, GoJek,<br>
        Schlumberger and 100+ global companies & startups.
        </p>
        <br>
        <a href="https://interviewbuddy.in/" target="_blank">
            <button class="button2">Visit InterviewBuddy</button>
        </a>
    </div>
    <img src="assets/img/main content-img2.png" alt="content-logo" class="image2"/>
</div>

<div class="card card2 shadow-sm">
    <img src="assets/img/datatrove-product-image.png" alt="content-logo" class="image2"/>
    <div class="text-container text-container2">
        <h1 class="heading2">Datatrove</h1>
        <br>
        <p class="para2">
            Datatrove is a career fulfilment tool that enables colleges <br>
             & universities to visualize the progress of students by<br>
             streamlining and automating the management of <br>
             student data and placements in order to deliver better <br>
             and richer career fulfillment.
        </p>
        <br>
        <a href="https://gitam.datatrove.in/" target="_blank">
            <button class="button2">Visit Datatrove</button>
        </a>
    </div>
</div>

<div id="more-information">
<div class="card3">
    <h1 class="heading2">What is AlcoveX Product Studio?</h1>
    <p class="para2">AlcoveX Product Studio is a unit of Alcove Business Advisory Private Ltd, it focuses on bringing together talented individuals of various disciplines to work on products from Alcove Partners' portfolio of companies.</p>
    <a href="https://www.linkedin.com/company/alcovex/" target="_blank">
        <button class="button2">Visit Our LinkedIn</button>
    </a>
</div>

<div class="card3">
    <h1 class="heading2">Alcove Partners</h1>
    <p class="para2">Alcove Partners provides much-needed strategic and financial support to aspiring entrepreneurs in Andhra Pradesh. We provide mentorship, incubation space, technical and digital marketing support and financial support to startups and SMEs.</p>
    <a href="http://alcovepartners.com/" target="_blank">
        <button class="button2">Visit Alcove Partners</button>
    </a>
</div>
</div>
<div class="footer">
    <p class="para3"><b>© AlcoveX Product Studio</b> a unit of Alcove Business Advisory Private Ltd.</p>
    <a href="#top" class="map-logo">
        <i class="bi bi-arrow-up"></i>
    </a>
</div>